---
import { auth } from "~/lib/lucia";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const id = data.get("id") as string;
  const session = await auth.createSession({
    userId: id,
    attributes: {},
  });
  Astro.locals.auth.setSession(session);
  return Astro.redirect("/app", 302);
}
---

<form method="post">
  <select name="id">
    <option value="874f37f8-0fe4-4b4f-ab56-af67d61a67ef">Mudit</option>
    <option value="cc0828fe-af80-498b-b4a0-cbb1a162debd">Varun</option>
    <option value="18062a20-5738-4126-90f5-4e48fdfa5afd">Eshaan</option>
    <option value="0330bb23-2566-4456-b8a7-f11bd2b45462">Praharsh</option>
  </select>
  <br />
  <button type="submit">Login</button>
</form>
