---
import BaseLayout from "./BaseLayout.astro";
import Navbar from "~/components/navigation/navbar.astro";
import { css } from "styled-system/css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "TODO" } = Astro.props as Props;
---

<BaseLayout {title} {description}>
  <Navbar />
  <div class={css({ pt: "14" })}>
    <slot />
  </div>
</BaseLayout>
