---
import { Container, Divider, HStack } from "styled-system/jsx";
import BaseLayout from "./BaseLayout.astro";
import { SiGithub } from "solid-icons/si";
import { TbChartLine } from "solid-icons/tb";
import ThemeSwitcher from "~/components/theme-switcher";
import UserProfile from "~/components/navigation/user-profile";
import { css } from "styled-system/css";
import { iconButton } from "styled-system/recipes";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "TODO" } = Astro.props as Props;
---

<BaseLayout {title} {description}>
  <Divider position="fixed">
    <Container>
      <HStack h="14" justify="space-between">
        <a href="/app">
          <TbChartLine size={24} />
        </a>
        <HStack gap="0">
          <a
            target="_blank"
            href="https://github.com/TheComputerM/BITSbids"
            class={iconButton({ variant: "ghost" })}
          >
            <SiGithub />
          </a>
          <ThemeSwitcher client:load />
          <UserProfile client:idle />
        </HStack>
      </HStack>
    </Container>
  </Divider>
  <div class={css({ pt: "14" })}>
    <slot />
  </div>
</BaseLayout>
