---
import { Container, Divider, Flex, HStack, Stack } from "styled-system/jsx";
import AppLayout from "~/layouts/AppLayout.astro";
import { Heading } from "~/components/ui/heading";
import { TbBuildingStore, TbGavel, TbPlus } from "solid-icons/tb";
import { button } from "styled-system/recipes";
import Globe from "./_/globe";
import { css } from "styled-system/css";
import { getAllProducts } from "~/lib/api/product";
import ProductCard from "~/components/product-card";

const products = await getAllProducts();
---

<AppLayout title="App">
  <Container>
    <Flex align="center" wrap="wrap-reverse">
      <div class={css({ py: "4" })}>
        <Heading color="fg.subtle">BITSBids</Heading>
        <Heading textStyle="6xl">Marketplace</Heading>
      </div>
      <Flex justify="center" flexGrow={1}>
        <Globe client:load />
      </Flex>
    </Flex>
  </Container>
  <Divider />
  <br />
  <Container>
    <HStack justify="end">
      <a href="/app/profile/bids" class={button({ variant: "outline" })}>
        <TbGavel />
        Your Bids
      </a>
      <a href="/app/profile/products" class={button({ variant: "outline" })}>
        <TbBuildingStore />
        Your Products
      </a>
      <a href="/app/create-product" class={button()}>
        <TbPlus />
        Create a Product
      </a>
    </HStack>
    <br />
    <Stack gap="6">
      {(products).map((p) => <ProductCard client:idle product={p} />)}
    </Stack>
  </Container>
</AppLayout>
