---
import { Container, Flex, Divider } from "styled-system/jsx";
import { Heading } from "~/components/ui/heading";
import AppLayout from "~/layouts/AppLayout.astro";
---


<AppLayout title="Create Product">
  <Container>
    <Flex h="18rem" align="center">
      <div>
        <Heading textStyle="6xl">New Product</Heading>
      </div>
    </Flex>
  </Container>
  <Divider />
  <br />
  
</AppLayout>