---
import { Container, Divider, Flex } from "styled-system/jsx";
import AppLayout from "~/layouts/AppLayout.astro";
import { Heading } from "~/components/ui/heading";
import { getUser } from "~/lib/api/user";

const session = (await Astro.locals.auth.validate())!;
const user = await getUser(session.user.userId);
---

<AppLayout title="Profile">
  <Container>
    <Flex h="18rem" align="center">
      <div>
        <Heading textStyle="6xl">Profile Settings</Heading>
      </div>
    </Flex>
  </Container>
  <Divider />
  <br />
  <Container>
    <p>ID: {user.id}</p>
    <p>Name: {user.name}</p>
    <p>Avatar: {user.avatar}</p>
    <p>Balance: {user.balance}</p>
  </Container>  
</AppLayout>