---
import { Container, Divider, Flex } from "styled-system/jsx";
import AppLayout from "~/layouts/AppLayout.astro";
import { Heading } from "~/components/ui/heading";
---

<AppLayout title="Your Bids">
  <Container>
    <Flex h="18rem" align="center">
      <div>
        <Heading textStyle="6xl">Your Bids</Heading>
      </div>
    </Flex>
  </Container>
  <Divider />
  <br />
</AppLayout>
