---
import { Container, Divider, HStack } from "styled-system/jsx";
import { SiGithub } from "solid-icons/si";
import { TbChartLine } from "solid-icons/tb";
import ThemeSwitcher from "~/components/theme-switcher";
import UserNav from "~/components/navigation/user-nav";
import { iconButton } from "styled-system/recipes";
import { getUser } from "~/lib/api/user";

const session = await Astro.locals.auth.validate();
const user = await getUser(session!.user.userId);
---

<Divider position="fixed" bg="bg.canvas" zIndex="docked">
  <Container>
    <HStack h="14" justify="space-between">
      <a href="/app">
        <TbChartLine size={24} />
      </a>
      <HStack gap="0">
        <a
          target="_blank"
          href="https://github.com/TheComputerM/BITSbids"
          class={iconButton({ variant: "ghost" })}
        >
          <SiGithub />
        </a>
        <ThemeSwitcher client:load />
        <UserNav user={user} client:idle />
      </HStack>
    </HStack>
  </Container>
</Divider>